@page "/occupation/create"
@using DAL.Models
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager NavigationManager

<NavLink class="nav-link" href="occupation/index">◀ Danh sách Nghề nghiệp</NavLink>
<hr />
<h5>
    Thêm mới Nghề nghiệp
</h5>
<br />
<div class="mb-3 row">
    <label class="col-sm-1 col-form-label">Tên: </label>
    <div class="col-sm-3">
        <input class="form-control" @bind=occupation.Name>
    </div>
    <span>@errorMessage</span>
</div>
<hr />
<button class="btn btn-success" @onclick="@(() => Add())">Thêm</button>
<span>@message</span>


@code {
    Occupation occupation = new();
    string errorMessage = string.Empty;
    string message = string.Empty;

    async Task Add()
    {
        if (string.IsNullOrWhiteSpace(occupation.Name))
        {
            errorMessage = "Tên không được rỗng hoặc chứa toàn khoảng trắng";
        }
        else
        {
            occupation.Id = Guid.NewGuid();
            var client = _httpClientFactory.CreateClient();
            var response = await client.PostAsJsonAsync<Occupation>("https://localhost:7219/api/Occupations", occupation);

            errorMessage = string.Empty;
            message = "Thêm thành công";

            NavigationManager.NavigateTo("/occupation/index");

        }
    }


}
