<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Employee Management</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employee/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Quản lý Emplyee
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="city/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Danh mục tỉnh
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="district/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Danh mục huyện
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="commune/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Danh mục xã
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="diploma/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Quản lý Văn bằng
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ethnic/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Danh mục dân tộc
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="occupation/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Danh mục nghề nghiệp
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
